        p{
                color:darkorange;
                font-family: fantasy;
                font-size: 300%;
            }    
        h1{
                color:fuchsia;
                font-family: cursive;
                font-size: 400%;
            }
        pre{
                color: darkviolet;
                font-family:cursive;
                font-size: 500%;
            }